*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: lightgray;
}

nav{
    background: linear-gradient(90deg, rgb(172, 2, 228), rgb(202, 10, 183));
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-family: 'Lilita One', cursive;
}
.brand a{
    text-decoration: none;
    color: rgb(213, 255, 1);
}
.navmenu{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .navmenu a{
    text-decoration: none;

    color: white;
    
    padding: 10px 10px;
    width: 110px;
    
    text-align: center;
    font-size: 16px;
}
nav a:hover{
    font-weight: bold;
}

section h2{
    font-size: 1.7rem;
    width: fit-content;
    margin-bottom: 25px;
}
.book-link{
    width: fit-content;
    text-align: left;
    font-weight: bold;
}

section{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: -2px 2px 4px gray;
}


.books-container{
    padding: 80px 5% 90px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

table{
    border-collapse: collapse;
}
.inner{
    width: 100%;
}
table, table tr td, table th{
    border: 2px solid black;
}
th, td{
    padding: 15px 1%;
    min-width: 65px;
    text-align: center;
}
.inner tr td{
    text-align: left;
    padding-left: 6px;
}
.root th{
    background-color:rgb(119, 159, 245);
}

.form-container{
    padding: 80px 15% 90px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/* .register-form{
    display: flex;
    flex-direction: column;
} */
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#btn-group{
    align-self: center;
}
.input-group label{
    margin-bottom: 2px;
    font-weight: bold;
    padding-left: 5px;
}
.input-group input{
    padding: 7px 8px;
    border-radius: 6px;
}
.input-group button{
    margin-top: 10px;
    padding: 7px;
    border-radius: 6px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: 0px;
    box-shadow: -1px 1px 4px black;
    /* width: 300px; */
}
.input-group button:hover{
    cursor: pointer;
    background-color: rgb(30, 30, 253);
}